@{
    ViewBag.Title = "Home Page";
}


<h1>
    <center>Welcome to Peer Tutor</center>
</h1>
<br>
<div class="jumbotron">
   

    <center><p class="lead">Peer Tutor is a student to student academic tutoring and a socializing application!</p> </center>
</div>